#topLine{
  width: 100%;
  background-color: #EEEEEE;
  height: 30px;
  top: auto;
}

#submit{
  position: absolute;
  top: 3px;
  min-height: 24px;
  min-width: 60px;
  background-color: #FFFFFF;
  right: 200px;
  margin-right: 3px;
}

#text{
  position: absolute;
  top: 3px;
  right: 0px;
  height: 20px;
  min-width: 198px;
  background-color: #FFF;
}
