* {
  padding: 0;
  margin: 0;
  background-color: #183693;
}

.topLine{
  width: 100%;
  background-color: #0b1842;
  height: 30px;
}

.dropDown{
  background-color: inherit;
  position: relative;
  display: inline-block;
}

.dropDownContent{
  display: none;
  position: absolute;
  background-color: inherit;
}

.dropDown:hover .dropDownContent{
  display: block;
  position: static;
}


.dropDownContent a {
  text-decoration: none;
  display: block;
  background-color: inherit;
  color: white;
  cursor: pointer;
  line-height: 26px;
  margin: 1px;
  padding: 1px;
  line-height: 26px;
}

#submit{
  position: absolute;
  color: white;
  border: none;
  top: 1px;
  font-weight: bold;
  min-height: 24px;
  min-width: 60px;
  background-color: #0D3060;
  right: 0px;
  margin-right: 3px;
}

#submit:hover{
  color: gainsboro;
  cursor: pointer;
}

#text{
  position: absolute;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  top: 3px;
  right: 67px;
  height: 22px;
  min-width: 198px;
  background-color: #183693;
}

.welcome{
  float: left;
  margin: 1px;
  padding: 1px;
  background-color: #0b1842;
  color: white;
  font-weight: bold;
  min-height: 26px;
  min-width: 60px;
  text-align: center;
  line-height: 26px;
  border: 0px;
}

.headerButton{
  float: left;
  margin: 1px;
  padding: 1px;
  background-color: #0b1842;
  color: white;
  font-weight: bold;
  min-height: 26px;
  min-width: 60px;
  line-height: 26px;
  border: 0px;
}

.headerButton:hover{
  color: gainsboro;
  cursor: pointer;
}
