* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica;
}

body {
    background-color: #183693;
}

.grid{
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: 30px 100%;
  grid-template-areas:
  "topLine topLine"
  "sideBar canvas";
}

.canvas{
  border: 0px;
  border-top: 1px;
  border-left: 1px;
  border-color: gainsboro;
  border-style: solid;
  grid-area: canvas;
}

.sideBar{
  background-color: #0b1842;
  grid-area: sideBar;
  color: gainsboro;
  margin: 0px;
  padding: 0px;
}

.sideBarContent{
  background-color: inherit;
  display: block;
  margin: 2px;
  margin-bottom: 12px;
  border: 3px;
  border-style: solid;
  border-color: #778899;
  border-radius: 6px;
}

.sideBarTitle{
  background-color: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  height: 26px;
  display: block;
  text-align: center;
  padding: 2px;
}

.sideBarSearch{
  display: block;
  padding: 2px;
  margin: 2px;
}

.sideBarSearch input[type="text"]{
  width: 140px;
  margin-bottom: 4px;
}

.sideBarButton{
  display: block;
  background-color: gainsboro;
  color: #0b1842;
  width: 140px;
  float: left;
  min-height: 18px;
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s ease-out;
}

.sideBarButton:hover{
  color: gainsboro;
  background-color: #183693;
  cursor: pointer;
}

.sideBarSearchResult{
  margin-top: 10px;
  display: block;
}

.sideBarSearchResult div a{
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin: 1px;
  padding: 2px;
  text-align: inherit;
}

.topLine{
  background-color: #0b1842;
  grid-area: topLine;
}

.welcome{
  float: left;
  margin: 1px;
  padding: 1px;
  background-color: #0b1842;
  color: gainsboro;
  font-weight: bold;
  min-height: 26px;
  min-width: 60px;
  text-align: center;
  line-height: 26px;
  border: 0px;
}

.headerButton{
  float: left;
  margin: 1px;
  padding: 1px;
  background-color: #0b1842;
  color: gainsboro;
  font-weight: bold;
  min-height: 28px;
  min-width: 80px;
  line-height: 26px;
  border: 0px;
  transition: all 0.5s;
  display: block;
}

.headerButton:hover{
  color: gainsboro;
  cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #5f5f5f;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto; /* 8% from the top and centered */
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}

.modalClose {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modallose:focus {
    color: rgb(43, 43, 43);
    text-decoration: none;
    cursor: pointer;
}


/*Table style */

.divTable{
	display: table;
	width: 100%;
}

.divTableName {
  width: 100%;
  display: table-caption;
  border: 1px solid #000000;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.divTableRow {
  display: table-row;
  width: 100%;
}

.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
  padding: 3px 10px;
  width: 25%;
}
.divTableHead {
  border: 1px solid #000000;
	display: table-cell;
  padding: 3px 10px;
  font-weight: bold;
  width: 25%;
}

.divTableBody {
  display: table-row-group;
  width: inherit;
}

