#body {
    background-image: url(adventure-beautiful-boardwalk.jpg);
    background-position: center; /* Center the image */
    /* background-position: top; */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* background-attachment: fixed; */ /* fixed (will not scroll with the rest of the page) */
}

.jumbocontainer {
    width: 35%;
    /* margin-top: 5%; */
    margin: 5% auto;
    /* opacity: 0.6; */
    /* filter: alpha(opacity=60); */ /* For IE8 and earlier */
    background-color: rgba(163, 163, 163, 0.6);
}

.jumbotron {
    width: 70%;
    /* display: inline; */
    /* background-color: rgba(163, 163, 163, 0.6); */
    margin: 0 auto;
    background-color: transparent;

}


.w-35 {
    width: 35%!important;
}

.w-30 {
    width: 30%!important;
}

a {
    color: #346134;
    font-weight: bolder;
}

.btn-primary {
    background-color: #346134;
    border-color: #346134;
}

.card{
  position: relative;
}

.card-body {
    padding: 0.5rem;
}

#userprofile {
    width: 35%!important;
    z-index: 100;
    position: relative;
}

#userCard {
    z-index: 100;
    position: fixed;
}

#pixiCanvas{
  position: fixed;
  z-index: 10;
}

#treeList{
  max-height: 400px;
  overflow-y: auto;
}

.nav-item{
  cursor: pointer;
}

#creator .card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

#creator .card * {
    margin-left: 20px;
}

#creator .card h1 {
    margin-left: 5px;
}

#creator .card input {
    width: 70%;
}
/*.creator-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    min-height: 100% - 64px;
    min-height: 100vh - 64px;
    align-items: center;
}

.creator-column {
    border: 3px solid black;
    border-radius: 12px;
    padding-left: 10px;
}

.creator-column p {
    margin-left: 20px;
}

.creator-column h1 {
    margin-left: 10px;
}

.creator-column input select {
    margin: auto;
    display: block;
}*/

/* MODAL STYLE */

.modal {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #5f5f5f;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto; /* 8% from the top and centered */
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}

.modalClose {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: rgb(43, 43, 43);
    text-decoration: none;
    cursor: pointer;
}

/* TABLE STYLE */

.divTable{
	display: table;
	width: 100%;
  margin-bottom: 30px;
}

.divTableCaption {
  width: inherit;
  display: table-caption;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.divTableRow {
  display: table-row;
  width: 100%;
}

.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
  padding: 3px 10px;
  width: 25%;
}
.divTableHead {
  border: 1px solid #000000;
	display: table-cell;
  padding: 3px 10px;
  font-weight: bold;
  text-align: center;
  width: 25%;
}

.divTableBody {
  display: table-row-group;
  width: inherit;
}
