#body {
    background-image: url(adventure-beautiful-boardwalk.jpg);
    background-position: center; /* Center the image */
    /* background-position: top; */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* background-attachment: fixed; */ /* fixed (will not scroll with the rest of the page) */
}

.jumbocontainer {
    width: 35%;
    /* margin-top: 5%; */
    margin: 5% auto;
    /* opacity: 0.6; */
    /* filter: alpha(opacity=60); */ /* For IE8 and earlier */
    background-color: rgba(163, 163, 163, 0.6);
}

.jumbotron {
    width: 70%;
    /* display: inline; */
    /* background-color: rgba(163, 163, 163, 0.6); */
    margin: 0 auto;
    background-color: transparent;

}


.w-35 {
    width: 35%!important;
}

.w-30 {
    width: 30%!important;
}

a {
    color: #346134;
    font-weight: bolder;
}

.btn-primary {
    background-color: #346134;
    border-color: #346134;
}

.card-body {
    padding: 0.5rem;
}

#userprofile {
    width: 35%!important;
    margin-right: 10px;
    z-index: 3;
    position: relative;
}

.canvas{
  position: fixed;
  z-index: 1;
}

#pixiCanvas{
  position: fixed;
  z-index: 2;
}
