<% if (message) { %>
  <footer class="footer fixed-bottom">
    <div class="alert alert-danger alert-dismissible fade show"
      style="margin-bottom: 0 !important" role="alert">
      <strong class="alert-heading">Holy guacamole!</strong>
      <p class="mb-0"><%= message %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </footer>
<% } %>