<!DOCTYPE html>
<html>

<head>
  <% include head %>
</head>

<body class="text-dark">
  <% include navbar %>
  <main class="container" role="main">
    <% include indexContent %>
  </main>
  <% include errorHandler %>
</body>

</html>