<h1>Registration</h1>
<form action="/registration" method="post">
  <div class="form-group">
    <label for="regUsername">Username</label>
    <input type="text" class="form-control" id="regUsername" required
      placeholder="Enter your username" name="regUsername">
  </div>
  <div class="form-group">
    <label for="regPassword">Password</label>
    <input id="regPassword" type="password" required
      class="form-control" placeholder="Password" name="regPassword">
  </div>
  <div class="form-group">
    <label for="regFirstName">First name</label>
    <input type="text" class="form-control" id="regFirstName" required
      placeholder="Enter your first name" name="regFirstName">
  </div>
  <div class="form-group">
    <label for="regLastName">Last name</label>
    <input type="text" class="form-control" id="regLastName" required
      placeholder="Enter your last name" name="regLastName">
  </div>
  <div class="form-group">
    <label for="regDisplayName">Display name</label>
    <input type="text" class="form-control" id="regDisplayName" required
      aria-describedby="regDisplayNameHelp" name="regDisplayName"
      placeholder="Enter your display name">
    <small id="regDisplayNameHelp"class="form-text text-black-50">
      We'll never share your 'Display name' with anyone else, but will display on this webpage.
    </small>
  </div>
  <button class="btn my-2 my-sm-0 btn-dark" name="registration" type="submit">Registration</button>
</form><br/>
<form action="/" method="get">
  <button class="btn my-2 my-sm-0 btn-danger" type="submit">Back</button>
</form>